//@import "../components/modalDetailCar.scss";
@import "../pages/booth.scss";

.car-link {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    opacity: 0.7;
    background-color: transparent;
    &.mazda2-link {
        margin-left: -17%;
        margin-top: 2%;
        width: 14%;
        height: 10%;
    }

}

.click-zoom{
    //background-color: aqua;
    width: 8vw;
    height: 16vh;
    position:absolute;
    z-index: 2;
    margin-top: 43vh;
    margin-left: 17vw;
    cursor: pointer;
}

.click-rundown{
    cursor: pointer;
    //background-color: aqua;
    width: 8vw;
    height: 16vh;
    position:absolute;
    z-index: 3;
    margin-top: 43vh;
    margin-left: 75vw;
}

.videoplayer{
    z-index: 10;
    position:relative;
    margin-top: 24.5vh;
    margin-left: 28.75vw;
}

.bg-image{
    //z-index: -1;
    //position:absolute;
}

@import "../components/modalDetailCar.scss";

.screen-link {
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 61%;
    z-index: 10;

    &.screen-link__1 {
        margin-left: -32%;
        margin-top: 7%;
        width: 42%;
        height: 48%;
    }
}

.zoom-link {
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 48%;
    z-index: 10;

    &.zoom-link__1 {
        margin-left: -32%;
        margin-top: 7%;
        width: 10%;
        height: 20%;
    }
}

.rundown-link {
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 106%;
    z-index: 10;

    &.rundown-link__1 {
        margin-left: -32%;
        margin-top: 7%;
        width:10%;
        height:20%;
    }
}


